@model List<Employee>

<h2>Index</h2>
<table class="table">
    <thead>
		<tr>
			<th>
				Firstname
			</th>
			<th>
				Lastname
			</th>
			<th>
				Street
			</th>
			<th>
				City
			</th>
			<th>
				State
			</th>
			<th>
				Zip Code
			</th>
			<th>
				Phone
			</th>
			<th>
				Status
			</th>
			<th>
				SS Number
			</th>
			<th>
				Salary
			</th>
			<th>
				Start date
			</th>
			<th>
				Termination date
			</th>
			<th>
				Birth date
			</th>
			<th>
				Has health insurance
			<th>
				Has life insurance
			</th>
			<th>
				Has day care
			</th>
			<th>
				Gender
			</th>
			<th>
				Is sales staff
			</th>
			<th>
				Work phone
			</th>
			<th>
				Extension
			</th>
			<th>
				Fax
			</th>
			<th>
				Email
			</th>
			<th>
				CV
			</th>
			<th>
				Branch address
			</th>
			<th>
				Department
			</th>
			<th>
				Job
			</th>
			<th>
				Manager
			</th>
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in @Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneHealthIns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneLifeIns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneDayCare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSalesStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCodeNavigation.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobName)
            </td>
			<td>
				@Html.DisplayFor(modelItem => item.Manager.EmpFname) @Html.DisplayFor(modelItem => item.Manager.EmpLname)
			</td>
        </tr>
}
    </tbody>
</table>
